.globalContainer {
  margin: auto;
}

/* Start Responsive Containers */

/* Small Screens */
@media (min-width: 767px) {
  .globalContainer {
    width: 750px;
  }
}

/* Medium Screens */
@media (min-width: 992px) {
  .globalContainer {
    width: 970px;
  }
}

/* Large Screens */
@media (min-width: 1200px) {
  .globalContainer {
    width: 1170px;
  }
}

/* End Responsive Containers */

.Icon {
  transition: 0.3s;
  cursor: pointer;
}

.Icon:hover {
  transform: translateY(-2px);
}

.Logo:hover {
  color: blue;
}

.separator {
  width: 100vw;
  border-bottom: 2px solid #1e202c;
  margin-bottom: 30px;
}

.sideSection {
  border: 2px solid #1e2955;
  border-radius: 30px;
  padding: 20px 30px;
  width: 100%;
  margin: 10px 0;
}

.mainSection {
  border: 2px solid #1e202c;
  border-radius: 30px;
  padding: 20px 30px;
  width: 100%;
  margin: 15px 0;
}

.mainPage {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
